<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
    RewriteEngine On
    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(?i:ttf|woff|woff2|eot)$">
        Header set Cache-Control "max-age=31557600, public, must-revalidate"
    </FilesMatch>

    <FilesMatch "\.(?i:gif|jpe?g|png|svg|ico|css|map|js|swf)$">
        Header set Cache-Control "max-age=2592000, public, must-revalidate"
    </FilesMatch>
</IfModule>
